<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">ASP</a></li>
            <li><a href="#!/noc-pkg/nocs/list{{$ctrl.type_id}}">NOC</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">NOC List
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt count"></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li><input class="filterTable" type="text" placeholder="Search"></li>
                            <li>
                                <img src="<% $ctrl.filter_img_url %>" class="filterToggle" ng-click="openFilter()">
                                <div class="filter-wrapper" id='filterticket'>
                                    <div class="filter-overlay" ng-click="closeFilter()"></div>
                                    <div class="filter-content">
                                        <div class="filter-header">
                                            <h2>NOC Filter</h2>
                                        </div>
                                        <div class="filter-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-text form-group">
                                                        <input class="form-control customForm-input" autocomplete="off" name="period" type="text" value='' ng-model="$ctrl.period" ng-change="changeType()" placeholder="Select Period">
                                                    </div><!-- Field -->
                                                </div><!-- Column -->
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <md-select ng-model="$ctrl.noc_type_id" ng-change="changeType()" placeholder="Select NOC Type">
                                                            <md-option ng-repeat="noc_type in $ctrl.noc_type_list" value="{{noc_type.id}}">{{noc_type.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="noc_type_id" value="" id="noc_type_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.noc_status_id" ng-change="changeType()" placeholder="Select NOC Status">
                                                            <md-option ng-repeat="status in $ctrl.noc_status_list" value="{{status.id}}">{{status.name}}</md-option>
                                                        </md-select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.noc_number" id="noc_number" class="filter-data form-control filter-input" type="text" placeholder="NOC Number" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" ng-show="!($ctrl.asp_permission)">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.asp_code" id="asp_code" class="filter-data form-control filter-input" type="text" placeholder="ASP Code" autocomplete="off">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="filter-btns">
                                                            <a href="javascript:;" class="reset-filter  btn btn-primary yellow" ng-click="resetFilter()">RESET</a>
                                                            <a href="javascript:;" class="close-filter btn btn-primary" ng-click="closeFilter()">CLOSE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="noc_table" class="display table dataTable no-footer">
                    <thead>
                        <tr>
                            <th class="action">Actions</th>
                            <th>Created On</th>
                            <th>NOC Number</th>
                            <th>Type</th>
                            <th>ASP Code</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>